//FONTS
@import './font/sharp-grotesk-font.css';
@import './font/sharp-grotesk-medium.css';
@import './font/sharplight-15.css';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


$font-title: 'sharp_groteskbold_15', sans-serif;
$font-global: 'Poppins', sans-serif;
$font-title-medium: 'sharp_grotesksemibold_15', sans-serif;

